h1, h2, h3, h4, h5, h6 {
    color: yellow;
    font-family: 'komika_axisregular', sans-serif;
    margin-bottom: 1rem;
    text-shadow:
         2px  2px 0 red,
         2px -2px 0 red,
        -2px -2px 0 red,
        -2px  2px 0 red;
}

footer {
    background-color: #222;
}

a:hover,
.list-group-item-action:hover {
    color: #fdf37b;
}

@font-face {
    font-display: auto;
    font-family: 'komika_axisregular';
    font-style: normal;
    font-weight: normal;
    src: url('KOMIKAX_-webfont.woff') format('woff');
}

.list-group-item-action:hover img {
    filter: invert(0.5) grayscale(1) brightness(1.5) sepia(1) hue-rotate(15deg) saturate(2);
}
