h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

tr[onclick^="window.location"] {
    cursor: pointer;
}

.table {
    table-layout: fixed;
}
th, td {
    word-wrap: break-word;
}

.latest-runs tr:nth-child(n+6) {
    display: none;
}
@media (min-width: 768px) {
    .latest-runs tr:nth-child(n+6) {
        display: table-row;
    }
}

.player-names {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}
