{% extends "base.html.twig" %}

{% block mainContainer %}
    <h1 class="text-center"><img height="48" src="/logo.svg" alt /> Serious&nbsp;Sam Done&nbsp;Quick</h1>

    <div class="text-center">
        <div class="list-group list-group-flush d-inline-block text-center mb-5">
            <a class="list-group-item list-group-item-action" href="https://discord.gg/0vKwJa1xQoCpw7vY" rel="noopener" target="_blank"><img class="ml-1" height="32" src="/discord.svg" alt="Discord" /></a>
            <a class="list-group-item list-group-item-action" href="https://www.speedrun.com/serious_sam" rel="noopener" target="_blank"><img height="32" src="/speedrun_com.png" alt="speedrun.com" /></a>
            <a class="list-group-item list-group-item-action" href="/legacy.html" rel="noopener" target="_blank">Legacy site (2007&ndash;2012)</a>
        </div>
    </div>

    <h2>Latest runs</h2>
    <p>
        The latest runs in the main games of the series. See the full leaderboards at <a href="https://www.speedrun.com/serious_sam" rel="noreferrer">speedrun.com</a>.
    </p>

    <table class="table table-hover latest-runs">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Game</th>
            <th scope="col">Category</th>
            <th scope="col">Level</th>
            <th scope="col">Player(s)</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody id="latest_runs">
            <tr>
                <td colspan="6">{% include 'spinner.html.twig' %}</td>
            </tr>
        </tbody>
    </table>

    <h2>World records</h2>
    <p>
        A selective listing of records. See the full leaderboards at <a href="https://www.speedrun.com/serious_sam" rel="noreferrer">speedrun.com</a>.
    </p>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Game</th>
            <th scope="col">Category</th>
            <th scope="col">Player(s)</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody id="world_records">
            <tr>
                <td colspan="5">{% include 'spinner.html.twig' %}</td>
            </tr>
        </tbody>
    </table>

    <h2>Contact</h2>
    <p>Please contact <em>mr.deagle#6969</em> on our <a href="https://discord.gg/0vKwJa1xQoCpw7vY" rel="noopener" target="_blank">Discord server</a>. Alternatively, use the <a href="https://github.com/dsinn/ssdq/issues">issue tracker on GitHub</a>.</p>

    <script src="/home.js"></script>
{% endblock %}
